C:\Users\drusi\OneDrive\Desktop\CPL\CATS\answers.npy
C:\Users\drusi\OneDrive\Desktop\CPL\CATS\test_answers.npy
C:\Users\drusi\OneDrive\Desktop\CPL\CATS\questions.npy
C:\Users\drusi\OneDrive\Desktop\CPL\CATS\test_questions.npy